body{
  margin:0;
  height:100vh;
  display:flex;
  justify-content:center;
  align-items:center;
  background:#0f172a;
  font-family:Arial;
}

.container{
  text-align:center;
}

.card{
  width:300px;
  height:180px;
  position:relative;
  transform-style:preserve-3d;
  transition:0.8s;
  margin:auto;
}

.card.flip{
  transform:rotateY(180deg);
}

.front,.back{
  position:absolute;
  width:100%;
  height:100%;
  border-radius:15px;
  backface-visibility:hidden;
  color:white;
  padding:20px;
  box-sizing:border-box;
}

.front{
  background:linear-gradient(135deg,#2563eb,#1e40af);
}

.back{
  background:#020617;
  transform:rotateY(180deg);
}

.stripe{
  height:40px;
  background:black;
  margin-bottom:20px;
}

.row{
  display:flex;
  justify-content:space-between;
  margin-top:40px;
}

button,input{
  width:90%;
  margin:6px 0;
  padding:10px;
  border-radius:8px;
  border:none;
}